h1{
    background-color: lightgoldenrodyellow;
    color: blue;
}
p{  background-color: lightgray;
    color: blue;}
.one{
    background-color: lightgrey;
    color: blue;
}
#one{
    background-color: lightgrey;
    color: blue;
}
img{
    border:dotted black:
}
ul{
    background-color: bisque;
    color: brown;
    border: dashed black;
}
body{
    background-color:bisque;
}
/*  */