h1{
    background-color: aqua;
    color: blue;
}
p{
    background-color: aqua;
    color: blue;
}
.one{
    background-color: aqua;
    color: blue;
}
#one{
    background-color: aqua;
    color: blue;
}
img{
    border:dotted black:
}
ul{
    background-color: bisque;
    color: brown;
    border: dashed black;
}
